@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@font-face {
    font-family: 'arab3end';
    src: url('arab3end.ttf');
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    position: relative;
    left: -60px;
}
.kumara{
    width: 35px;
}
.quote-kumara{
    position: relative;
    top: -20px;
    margin: 0px 5px;
}
nav span{
    font-family: 'arab3end';
    color: #FFDC23;
    font-size: 46px;
    line-height: 44.14px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
nav ul li{
    margin: 0 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav img{
    width: 50px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    max-width: 1300px;
    margin: 0 auto;
}
nav{
    background-color: #171717;
}
main section{
    max-width: 1300px;
    margin: 100px auto;
}
main section:last-of-type{
    margin-top: 200px;
}
main section:first-of-type h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 120px 0px;
}

.main-top-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.main-top-item{
    background-color: #171717;
    color: #fff;
    flex: 0 1 33%;
    box-shadow: 0px 0px 10px #000;
    display: flex;
    flex-direction: column;
    max-width: 360px;
}
.main-top-item:nth-of-type(2){
    margin: 0 40px;
}
.card-img{
    flex: 0 0 100%;
    display: flex;
}
.card-img img{
    flex: 0 0 100%;
}
.card-info{
    padding: 20px 30px;
}
.card-info h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.6px;
    margin: 0px 0px 10px 0px;
}
.card-info span{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.9px;
}
.quote-container{
    max-width: 1300px;
    margin: 0 auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    padding: 50px;
}
.quote-title{
    display: flex;
    justify-content: center;
}
.quote-title h1{
    color: #A70305;
    font-family: 'arab3end';
    font-size: 64px;
    margin: 0px;
}
.quote-paragragh p{
    text-align: center;
    font-size: 24px;
    max-width: 900px;
    line-height: 38px;
    margin: 24px auto;
}
#map{
    width: 500px;
    height: 300px;
}
footer{
    background-color: #171717;
    color: #fff;
    padding: 20px;
}
footer section h2{
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0px 30px 0px;
}
footer section ul{
    list-style-type: none;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
footer section ul li{
    font-weight: 500;
    line-height: 2;
    font-size: 20px;
}
.footer-icons{
    display: flex;
    justify-content: space-between;
    max-width: 300px;
}
.footer-container{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}