@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');
@font-face {
    font-family: 'arab3end';
    src: url('arab3end.ttf');
}
*{
    box-sizing: border-box;
}
body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
.logo{
    position: absolute;
    top: 10px;
    left: 10px;
}
nav span{
    font-family: 'arab3end';
    color: #FFDC23;
    font-size: 46px;
    line-height: 44.14px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
nav ul li{
    margin: 0 50px;
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}
nav img{
    width: 50px;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    max-width: 1300px;
    margin: 0 auto;
}
nav{
    background-color: #171717;
}
main section{
    max-width: 1300px;
    margin: 0 auto;
}
.h1{
    font-size: 36px;
    font-weight: 600;
}


.main-top-item{
    background-color: #171717;
    color: #fff;
}
.card-ifo h3{
    font-size: 24px;
    font-weight: 600;
    line-height: 29.6px;
    margin: 0px;
}
.card-ifo span{
    font-size: 18px;
    font-weight: 600;
    line-height: 21.9px;
    margin: 0px;
}